$colorPrimary: #d8b880;
$colorSecondary: #d13731;
$colorLight: #fffbf0;
$colorDark: #7f191e;

@mixin border-style($width) {
  border: $width solid $colorPrimary;
}

.audio-btn {
  width: 28px;
  padding: 0;
  border: none;
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 2;
  @media (min-width: 576px) {
    width: 32px;
  }
}

.max-width-800 {
  max-width: 800px;
  margin: auto;
}
.max-width-1080 {
  max-width: 1000px;
  margin: auto;
  @media (min-width: 576px) {
    padding: 0 20px;
  }
}

.desktop-hide {
  @media (min-width: 576px) {
    display: none;
  }
}

p {
  color: $colorDark;
  letter-spacing: 2px;
  font-size: 12px;
  @media (min-width: 576px) {
    font-size: 16px;
    line-height: 2;
  }
  &.title {
    letter-spacing: 0;
    margin: 16px 0;
    font-weight: 400;
    span {
      font-size: 24px;
      letter-spacing: 3px;
      margin-right: 2px;
      @media (min-width: 576px) {
        font-size: 40px;
      }
    }
  }
  &.highlight {
    color: $colorPrimary;
    text-align: center;
  }
  &.text-md {
    font-size: 14px;
    @media (min-width: 576px) {
      font-size: 24px;
    }
  }
  &.text-bg {
    margin: 4px 0;
    span {
      color: $colorLight;
      background-color: $colorDark;
      padding: 0 4px;
      font-family: 'Noto Serif TC';
    }
  }
}

.bg,
.cover {
  width: 100vw;
  height: 100dvh;
  background-image: url(/public/images/bg.jpg);
  background-position: center;
  background-size: 440px;
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  z-index: 2;
  .happy {
    width: 120px;
    @media (min-width: 576px) {
      width: 180px;
    }
  }
  .text {
    text-align: center;
    &::before,
    &::after {
      content: '';
      width: 40px;
      height: 1px;
      background-color: $colorPrimary;
      display: inline-block;
      margin: 16px 0;
      @media (min-width: 576px) {
        margin: 24px 0;
      }
    }
  }
  p {
    font-size: 14px;
    letter-spacing: 6px;
  }
  .btn {
    font-size: 16px;
    letter-spacing: 2px;
    color: $colorPrimary;
    padding: 4px 16px;
    padding-right: 20px;
    border-radius: 24px;
    @include border-style(1px);
    &::after {
      content: '';
      width: 6px;
      height: 6px;
      border-top: 1px solid $colorPrimary;
      border-right: 1px solid $colorPrimary;
      display: inline-block;
      transform: rotate(45deg) translate(0, -4px);
    }
  }
  &.hide {
    animation: fade 2s forwards;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.bg-light {
  background-color: $colorLight;
  margin: 64px 14px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  @include border-style(1px);
  @media (min-width: 576px) {
    margin: 100px auto;
  }
}

.img-title {
  display: grid;
  gap: 16px;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 24px;
  top: -4.5vw;
  @media (min-width: 576px) {
    max-width: 720px;
    margin: auto;
    top: -40px;
  }
  &.bottom {
    top: auto;
    bottom: -4.5vw;
    @media (min-width: 576px) {
      bottom: -40px;
    }
  }
  &::before,
  &::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(/public/images/icon.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @media (min-width: 576px) {
      width: 40px;
      height: 40px;
    }
  }
}

.landing {
  padding: 240px 14px;
  display: grid;
  gap: 14px;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
  text-align: center;
  @media (min-width: 576px) {
    padding: 160px 14px;
    grid-template-columns: 2fr 8fr 2fr;
  }
  p {
    font-weight: 400;
    letter-spacing: 0;
  }
  .happy {
    position: absolute;
    width: 120px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    @media (min-width: 576px) {
      width: 180px;
    }
  }
}

.quote {
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  img,
  .text {
    grid-area: 1/1/2/2;
  }
  .mb {
    margin-bottom: 12px;
  }
}

.about {
  display: grid;
  padding: 16px 0;
  grid-template-columns: 13fr 11fr;
  @media (min-width: 576px) {
    padding: 20px;
    grid-template-columns: 2fr 3fr;
  }
  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
  &.second {
    grid-template-columns: 11fr 13fr;
    @media (min-width: 576px) {
      grid-template-columns: 3fr 2fr;
    }
    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
      .text {
        grid-column-start: 2;
      }
    }
  }
  .text {
    padding: 0 14px;
    @media (min-width: 576px) {
      padding: 0 40px;
    }
  }
  p {
    font-family: 'Noto Serif TC';
  }
  img {
    @include border-style(1px);
  }
}

.parent {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 20px 0;
  @media (min-width: 576px) {
    grid-template-columns: 2fr 3fr 2fr;
    padding: 60px 0;
  }
  .name {
    grid-area: 1/1/2/2;
    padding: 0 8px;
    @media (min-width: 576px) {
      padding: 0 40px;
    }
  }
  .image {
    grid-area: 1/2/6/3;
    @include border-style(2px);
  }
  .left {
    grid-area: 3/1/4/2;
  }
  .right {
    grid-area: 3/3/4/4;
  }
  .left,
  .right {
    text-align: center;
    img {
      width: 12px;
    }
    span {
      font-size: 8px;
    }
    @media (min-width: 576px) {
      img {
        width: 24px;
      }
      .highlight {
        font-size: 24px;
      }
      span {
        font-size: 16px;
      }
    }
  }
}

.info {
  text-align: center;
  .icon {
    width: 14px;
    margin: 8px 0 4px;
    &.mt {
      margin-top: 16px;
    }
    @media (min-width: 576px) {
      width: 20px;
      &.mt {
        margin-top: 24px;
      }
    }
  }
}

.timeline {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 32px 0;
  .text {
    display: grid;
    gap: 40px;
  }
  .line {
    width: 1px;
    height: 192px;
    background-color: $colorDark;
    @media (min-width: 576px) {
      height: 244px;
    }
    &::before,
    &::after {
      content: '';
      width: 9px;
      height: 9px;
      display: block;
      background-color: $colorDark;
      border-radius: 50%;
      position: absolute;
      left: -4px;
    }
    &::before {
      top: -4px;
    }
    &::after {
      bottom: -4px;
    }
  }
}

.map {
  .chinese {
    font-size: 20px;
    letter-spacing: 8px;
  }
  .english {
    font-size: 24px;
    letter-spacing: 6px;
  }
  iframe {
    display: block;
    width: 60%;
    margin: 20px auto;
    aspect-ratio: 1/1;
    border: none;
    @media (min-width: 576px) {
      width: 40%;
    }
  }
  img {
    padding: 12px 24px 24px;
    @media (min-width: 576px) {
      padding: 40px 20% 60px;
    }
  }
}

.reply {
  padding: 0 14px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin-bottom: 40px;
  @media (min-width: 576px) {
    padding: 0 20px;
    margin-bottom: 120px;
  }
  img,
  a {
    grid-area: 1/1/2/2;
  }
  a {
    display: inline-block;
    margin: 0 auto;
    width: 112px;
    opacity: 0.9;
    top: 24px;
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
    transition: all 1s;
    @media (min-width: 576px) {
      width: 240px;
      top: 64px;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.photo {
  .text {
    margin-bottom: 24px;
    @media (min-width: 576px) {
      margin-bottom: 60px;
    }
    span {
      font-size: 20px;
      @include border-style(1px);
      border-radius: 24px;
      padding: 4px 16px;
      @media (min-width: 576px) {
        font-size: 24px;
      }
    }
  }
  li {
    padding: 0 8px;
    @media (min-width: 576px) {
      padding: 0 16px;
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  background-color: $colorDark;
  align-items: center;
  padding: 4px 0;
  margin-top: 60px;
  .circle {
    width: 60px;
    height: 60px;
    background-color: $colorDark;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -37%);
    @media (min-width: 576px) {
      width: 88px;
      height: 88px;
    }
  }
  img {
    width: 40px;
    display: inline-block;
    margin: auto;
    transform: translateY(-12px);
    @media (min-width: 576px) {
      width: 64px;
      transform: translateY(-16px);
    }
  }
  p {
    span {
      font-size: 10px;
      letter-spacing: 0;
      font-weight: 400;
    }
    @media (min-width: 576px) {
      font-size: 20px;
      span {
        font-size: 16px;
      }
    }
  }
}
